.body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 30px;
  background-color: antiquewhite;
  gap: 30px;
  margin: 0;
  height: 100vh;
  width: 100%;
}

.input {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 0.85rem;
  width: 50%;
  background-color: rgb(149, 188, 210);
  max-height: calc(100vh - 30px);
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.output {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
  position: sticky;
  background-color: white(149, 210, 210);
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  background-color: white; 
  width: 100%; 
  color: black;
}

.all_line {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.inline {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.biggest {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.editable {
  width: 100%;
  border: 1px solid #ccc;
  outline: gray;
  border-radius: 2.5px;
  background-color: rgb(69, 67, 67);
  color: white;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 30vh;
  overflow-y: auto;
}

.editable ul {
  padding-left: 20px;
}

.upper_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}